USE [master]
GO
/****** Object:  Database [SEM4SPRINGBOOT]    Script Date: 8/14/2023 7:26:36 PM ******/
CREATE DATABASE [SEM4SPRINGBOOT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SEM4SPRINGBOOT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SEM4SPRINGBOOT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SEM4SPRINGBOOT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SEM4SPRINGBOOT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SEM4SPRINGBOOT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SEM4SPRINGBOOT]
GO
/****** Object:  Table [dbo].[manager_model]    Script Date: 8/14/2023 7:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[manager_model](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[age] [int] NULL,
	[name] [varchar](255) NULL,
	[salary] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[manager_model] ON 

INSERT [dbo].[manager_model] ([id], [age], [name], [salary]) VALUES (2, 20, N'quan', 200)
INSERT [dbo].[manager_model] ([id], [age], [name], [salary]) VALUES (3, 20, N'hieu', 300)
INSERT [dbo].[manager_model] ([id], [age], [name], [salary]) VALUES (4, 21, N'thanh', 400)
SET IDENTITY_INSERT [dbo].[manager_model] OFF
GO
USE [master]
GO
